In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()



from sklearn.metrics import pairwise_distances_argmin


set1 = 'C:/Users/robba/OneDrive/Skrivbord/Programmering/Python/Addiva/smhi/smhi_vasteras.csv'


df = pd.read_csv(set1, sep= ';', header = 0)

In [10]:
df.head()

        Datum Tid (UTC)  Lufttemperatur Kvalitet
0  1858-12-01  07:00:00             0.0        G
1  1858-12-01  13:00:00             1.0        G
2  1858-12-01  20:00:00             2.0        G
3  1858-12-02  07:00:00             1.0        G
4  1858-12-02  13:00:00             1.8        G

In [11]:
#Ser över så det inte finns något annat än 0 till 9 i kolumnen "label" i datasettet
for col in df.columns: 
    print(f'{col} har ett spann mellan {min(df[col])} och {max(df[col])}')

Datum har ett spann mellan 1858-12-01 och 2022-07-01
Tid (UTC) har ett spann mellan 06:00:00 och 20:00:00
Lufttemperatur har ett spann mellan -36.4 och 34.2
Kvalitet har ett spann mellan G och Y

In [12]:
#Räknar antal NaN i df datasetet
missing_data1 = 0

for i in df:
    missing_data1 = missing_data1 + df[i].isna().sum() 
missing_data1

0

In [15]:
s = df.loc[df['Kvalitet'] == "Y"]
s.head(10)

             Datum Tid (UTC)  Lufttemperatur Kvalitet
119864  2010-09-19  06:00:00             7.9        Y
120595  2011-09-19  18:00:00            13.7        Y
121733  2013-04-18  06:00:00             5.6        Y
122483  2014-05-06  06:00:00             5.0        Y
123261  2015-05-30  06:00:00            11.2        Y
124284  2016-10-22  18:00:00             3.0        Y

In [14]:
s.shape

(6, 4)